.container{
    min-height: 76%; 
    width: 100vw;
    height: fit-content;
}

.box {
    position: relative;
    height: fit-content; 
    width: fit-content;
    display: flex;
    align-items: flex-start;
    margin: 100px auto;
}

.prodImage{
    margin-right: 188px ;
}

.prodImage img{
    width: 372px;
    height: 526px; 
}

.info{
    width: 652px;
    font-family: Roboto;
}

.info h1{
    font-size: 48px;
    font-family: Lora;
    font-weight: bold;
}

.price {
    color: #B69454;
    float: right;
    font-size: 38px;
    font-weight: bold;
    margin-left: 202px;
}

.author {
    font-size: 20px;
    margin-bottom: 48px;
}

.dscrptn{
    margin-bottom: 48px;
}

.author_span {
    font-size: 24px;
    font-weight: bold;
}


@media screen and (max-width: 1266px) {
  .prodImage{
    margin-right: 0  ;
}

.box {
    width: 90%;
    gap: 7%;
}

}

@media screen and (max-width: 1266px) {
.box {
    flex-direction: column;
    align-items: center;
}

.prodImage{
    margin-bottom: 30px ;
    width: fit-content;
}
}

@media screen and (max-width: 709px) {

    .box{
        margin-top: 10%;
    }
    .prodImage{
    width: 50%;
    height: 70%; 
}

.prodImage img{
    height: 100%;
    width: 100%;
}
.info{
    width: 90%;
}

.info h1{
    font-size: 24px;
}
.price {
    font-size: 24px;
}

.author {
    font-size: 15px;
    margin-bottom: 48px;
}

.author_span {
    font-size: 18px;
}

}




