.error{
  margin: 150px auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error h2{
  margin-top: 25px; 
}

.error h2,
.error p{
  text-align: center;
  font-family: Roboto;
  text-shadow: 2px 4px 4px rgba(163, 168, 177, 0.6);
}