
.cart {
  width: 60%;
  margin: 60px auto;
  
}

.cart_title {
  font-size: 38px;
  font-family: Lora;
  margin-bottom: 30px;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 35px 0;
}

.total_text {
  font-size: 30px;
  font-weight: bold;
  font-family: Lora;
}

.total_price {
  font-size: 30px;
  font-family: Roboto;
  font-weight: bold;
  color: #b69454;
  text-align: end;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_back {
  font-size: 14px;
  padding: 11px 54px;
  background-color: white;
  border: 1px solid black;
  border-radius: 2px;
  font-family: Lora;
  cursor: pointer;
}

.btn_back:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
}

.button_order {
  font-size: 14px;
  padding: 12px 78px;
  background-color: black;
  border: 1px solid white;
  color: white;
  border-radius: 4px;
  font-family: Lora;
  cursor: pointer;
}

.button_order:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
  border-radius: 2px;
}

@media screen and (max-width: 1172px) {
  .cart {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  .cart_title {
    font-size: 24px;
    margin-bottom: 0;
  }
  .total_text,
  .total_price {
    font-size: 22px;
  }
   
  .total {
    margin: 15px 0;
  }
  .btn_back,
  .btn_back:hover,
  .button_order ,
  .button_order :hover{
    font-size: 12px;
    padding: 9px 28px;
}
}