.add_btn{
    width: 232px;
    height: 40px;
    background-color: black;
    text-decoration: none;
    color: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.add_btn span {
    font-family: Lora;
    font-size: 14;
    padding-left: 7px;
}

.add_btn:hover{
    background-color: white;
    border: 1px solid black;
    color: black;
}