.cart {
  width: 60%;
  margin: 150px auto 0 auto;
}

.img{
  margin: 50px auto;
  height: 350px;
  width: 320px;
}

.img img{
  height: 350px;
  width: 320px;
}

.img_or {
  margin: 50px auto;
  height: 350px;
  width: 280px;
}

.img_or img{
  height: 350px;
  width: 280px;
}

.cart h2,
.cart p{
  text-align: center;
  font-family: Roboto;
  text-shadow: 2px 4px 4px rgba(163, 168, 177, 0.6);
}

.cart p{
  font-size: 20px;
  
}
@media screen and (max-width: 676px) { 
  .cart {
    margin-top: 20%;
  }
  .img,
  .img_or,
  .img img,
  .img_or img{
    height: 200px;
    width: 170px;
  }
  .cart p{
    font-size: 15px;
  }
  .cart h2{
    font-size: 17px;
  }
  
}
