.form {
  width: 512px;
}

.header{
  margin-bottom: 64px;
  width: 600px;
}

.header h1{
  font-size: 48px;
  font-family: Lora;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.header p{
  font-size: 20px;
  font-family: Roboto;
}

.input{
  margin-top: 32px;
}

.input label,
.input input,
.input textarea {
  display: block;
  width: 100%;
}

.input label{
  font-size: 14px;
  font-family: Roboto;
  font-weight: bold;
  text-align: left;
  padding: 0 0 16px 0 ;
}

.input input{
  height: 40px;
  width: 512px;
  padding: 12px;
}

.check {
  color: #595959;
  font-size: 14px;
  font-family: Roboto;
  margin-top: 43px;
}
.check input{
  margin-right: 5px;
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.actions button,
.actions button:hover  {
  cursor: pointer;
  width: 232px;
  height: 40px;
  padding: 11px auto ;
  font-family: Lora;
  font-size: 14px;
  border-radius: 4px;
  margin: 48px 0;
}
.actions button{
  background-color:black;
  color: white;
  border: 1px solid black;
}

.actions button:hover {
  background-color:white;
  color: black;
  border: 1px solid black;
}

.actions a {
  text-decoration: underline;
  color: black;
  margin-bottom: 32px;
}

.actions a:hover {
  text-decoration: none;
}

.email{
  font-size: 22px;
  font-family: Lora;
  margin-top: 10px;
}

.error{
  border: 1px solid red;
  background-color: rgba(236, 99, 99, 0.466);
  margin-bottom: 0;
  padding: 10px;
}

.error_message{
    color: red;
    font-size: 12px;
    margin-top: 2px;
}

.error_authmessage{
  color: gray;
  font-size: 14px;
  margin-top: 2px;
}

.success{
  background-color: rgba(35, 212, 44, 0.384);
  color:#014216;
  font-size: 16px;
  padding: 7px;
  margin-top: 15px;
  border-radius: 4px;
}

@media screen and (max-width: 553px) {
 .input input{
  width: 100%;
}
.form {
  width: 95%;
  margin: 0 auto;
}

.actions a,
.header{
  width: 100%;
}

.email{
  display: none;
}

}
